*{
	font-family:Tahoma;
	font-size:13px;
}

html, body, p, br, img{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}



a{
	text-decoration:none;
}
fieldset{
	border:0px;
}





/*-----------------------------NavBar--------------------------------------*/

.item{
	padding:5px;
	}

		
/*----------------------------Content--------------------------------------*/
		
		
		h3{font-size: 1.5em;color:#006;
			border-bottom: 1px #006 solid;
			}
		
		
/*col1*/
		
		.img-col{
			border:0px;
			margin:10px 35px 35px 35px;
		}
		
.saibamais{
	float:right;
}
		
		
/*----------------------------------Footer--------------------------------*/
#footer{
	text-align:center;
	font-size:85%;
}



.titulo{
	margin:20px 0px 0px 100px;
	font-size: 150%;
	font-weight:bold;
	text-shadow: 0.1em 0.1em #ccc
}